*~

# DigiESP/Eclipse CDT specifics
Debug/
Release/

# Automake build specifics
build/

# XCode specifics
*.xcuserstate
xcuserdata/

# Autotools specifics
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h.in
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1
mg44.xcworkspace/xcshareddata/mg44.xcscmblueprint
mg44.xcodeproj/project.xcworkspace/xcshareddata/mg44.xcscmblueprint
.pkgdir
ipkg-*
.configured_*
.built
.built_check
.prepared
.quilt_checked
.source_dir
ABOUT-NLS
config.h
config.rpath
mg44
AUTHORS
COPYING
ChangeLog
NEWS
