Source: mg44
Maintainer: Lukas Zeller <luz@plan44.ch>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mg44
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: plan44 mini webserver for vdcd
 mini webserver based on civetweb with json forwarding to vdcd socket API
